---
layout: layouts/default
page:
  title: Product Details
  #page-header: Product Details
---
{% assign product = page.data %}
{% assign release = page.release %}

<div class="row row-cards">
	<div id="images" class="carousel slide col-sm-5 order-sm-1 col-12 order-0" style="height: fit-content;" data-bs-interval="false">
		<div class="carousel-indicators carousel-indicators-thumb">
			{%- for image in page.images %}
			<button type="button" data-bs-target="#images" data-bs-slide-to="{{ forloop.index | minus: 1 }}" class="ratio ratio-4x3{% if forloop.index == 1 %} active{% endif %}" style="background-image: url({{ image.URL }})"></button>
			{%- endfor %}
		</div>
		<div class="carousel-inner">
			{%- for image in page.images %}
			<div class="carousel-item{% if forloop.index == 1 %} active{% endif %}">
				<img src="{{ image.URL }}" alt="" class="d-block mx-auto">
			</div>
			{%- endfor %}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#images" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#images" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="col-12 order-1 col-sm-7 order-sm-0">
		<div class="card card-body h-100" >
			<div class="d-flex justify-content-center flex-wrap flex-column align-items-center     flex-sm-row justify-content-sm-start align-items-sm-start gap-2">
				<h1 class="m-0 me-0 me-sm-auto">{{ product.Name | escape }}</h1>
				<form>
					<select id="versionSelect" name="versionSelect" class="form-select ms-auto w-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="Select Version">
						{%- for release in product.Releases | reverse %}
						<option value="{{ release.Version | escape }}"{% if req.queryParams.version == release.Version %} selected{% endif %}>{{ release.Version | short_version | escape }} | {{ release.CreatedAt | deref | date: "%Y-%m-%d %H:%M" }}{% if forloop.index == 1 %} (latest){% endif %}</option>
						{%- endfor %}
					</select>
				</form>
			</div>

			<div class="d-flex flex-wrap align-items-start justify-content-center justify-content-sm-start mt-2 gap-1">
				{%- if product.State == 'ACTIVE' %}{%- assign stateColor = 'green' %}{% else %}{%- assign stateColor = 'red' %}{% endif %}
				<span class="badge bg-{{stateColor}}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="Product State (Activeness)</br>ACTIVE: is actively developed</br>INACTIVE: no updates for over 2 years</br>ARCHIVED: repository is marked as archived and thus is no longer developed</br>DEPRECATED: is marked as deprecated</br>MISSING: source was deleted">{% include ui/icon.html icon="bolt" %} {{ product.State }}</span>
				<span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Language">{% include ui/icon.html icon="language" %} {{ product.Release.DocumentationLanguage | escape }}</span>
				<span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Star Count">{% include ui/icon.html icon="star" %} {{ product.StarCount }}</span>
				<span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Fork Count">{% include ui/icon.html icon="git-fork" %} {{ product.ForkCount }}</span>
				{%- unless (product.Release.License | is_nil) %}
				<a href="/details/{{ product.Release.License.ID | idhex }}">
					<span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="License">{% include ui/icon.html icon="license" %} {{ product.Release.License.Xid }}</span>
				</a>
				{%- else %}
				<span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="License">{% include ui/icon.html icon="license" %} N/A</span>
				{%- endunless %}
			</div>

			{%- if (product.Tags | size) > 1 %}
			<div class="d-flex flex-wrap align-items-start justify-content-center justify-content-sm-start mt-2 gap-1">
				{%- for tag in product.Tags %}
				<a href='/search?q=tag:"{{ tag.Name | escape }}"'><span class="badge bg-secondary">#{{ tag.Name | escape }}</span></a>
				{%- endfor %}
			</div>
			{%- endif %}


			<div>
				<div class="d-inline-flex align-items-center position-relative mt-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Licensor">
					{%- if release.Licensor.Avatar.URL %}
					<span class="avatar me-3" style="background-image: url({{ release.Licensor.Avatar.URL }})"></span>
					{%- else %}
					<span class="avatar me-3 text-bg-primary">{{ release.Licensor.FullName | first_letters | escape }}</span>
					{%- endif %}
					<div>
						<div class="font-weight-medium">{{ release.Licensor.FullName }}</div>
						<div class="text-muted">{{ release.Licensor.Name }}</div>
					</div>
					<a class="stretched-link" href="/details/{{ release.Licensor.ID | idhex }}"></a>
				</div>
			</div>

			<p class="mt-2">{{ release.Description | escape }}</p>

			<h3 class="m-0 me-0 me-sm-auto">Files</h3>

			<div class="d-flex flex-wrap justify-content-start align-items-start gap-1 mt-1">
				{% unless (release.Image | is_nil) %}
				<a href="{{ release.Image.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} Image</a>
				{% endunless %}
				{% unless (release.Readme | is_nil) %}
				<a href="{{ release.Readme.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} Readme</a>
				{% endunless %}
				{% unless (release.ContributionGuide | is_nil) %}
				<a href="{{ release.ContributionGuide.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} Contribution Guide</a>
				{% endunless %}
				{% unless (release.Bom | is_nil) %}
				<a href="{{ release.Bom.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} BOM</a>
				{% endunless %}
				{% unless (release.ManufacturingInstructions | is_nil) %}
				<a href="{{ release.ManufacturingInstructions.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} Manufacturing Instructions</a>
				{% endunless %}
				{% unless (release.UserManual | is_nil) %}
				<a href="{{ release.UserManual.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} User Manual</a>
				{% endunless %}
				{% unless (release.Source | is_nil) %}
				<a href="{{ release.Source.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} Source</a>
				{% endunless %}
				{% unless (release.Export | is_nil) %}
				{%- for file in release.Export %}
				<a href="{{ file.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} Export - {{ file.name | escape }}</a>
				{%- endfor %}
				{% endunless %}
				{% unless (release.Auxiliary | is_nil) %}
				{%- for file in release.Auxiliary %}
				<a href="{{ file.URL }}" class="btn btn-sm">{% include ui/icon.html icon="file-download" use-svg=true %} Auxiliary - {{ file.name | escape }}</a>
				{%- endfor %}
				{% endunless %}
			</div>
		</div>
	</div>

	<div class="col-12 order-2 mt-3 d-flex justify-content-center justify-content-sm-start">
		<a href="{% if release.IsLatest %}{{ release.Repository.URL }}{% else %}{{ release.Repository.PermaURL }}{% endif %}" class="btn btn-primary btn-pill btn-lg">
			Repository {% include ui/icon.html icon="external-link" class="m-0 ms-1 icon-bold" %}
		</a>
	</div>
</div>





{%- capture_global scripts %}
<script>
	// @formatter:off
	document.getElementById('versionSelect').addEventListener('change', function (e) {
		setQueryParameter('v', new FormData(this.form).get('versionSelect'));
		return true;
	})
	// @formatter:on
</script>
{%- endcapture_global %}
