<div class="row row-cards">
	<!-- Error Details -->
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h2 class="card-title">Error Details</h2>
			</div>

			<div class="card-body">
				<h4 class="card-title">Message</h4>
				<div class="fs-3 fw-bold text-danger">{{ error.message }}</div>

				{% assign context = error.context | dict2items | sort: "key" %}
				{% if (context | size) > 0 %}
				<div class="pt-4">
					<h4 class="card-title">Context</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% for elm in context %}
						<tr>
							<td class="strong">{{ elm.key }}</td>
							<td class="break-all">{{ elm.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				{% endif %}

				{% if (error.stack | size) > 0 %}
				<div class="pt-4">
					<h4 class="card-title">Stack Trace</h4>
				</div>
				{% endif %}
			</div>

			{% for frame in error.stack %}
			<div class="list-group list-group-flush list-group-hoverable">
				<div class="list-group-item py-2">
					<div class="row align-items-center">
						<div class="row align-items-center m-0 mb-2">
							<div class="col-auto badge bg-grey">{{ forloop.index }}</div>
							<div class="col d-block fs-4 fw-bold text-truncate mt-n1">{{ frame.Name }}</div>
						</div>
						<div class="fs-4 text-truncate text-muted">{{ frame.File }}:{{ frame.Line }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- Request Details -->
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h2 class="card-title">Request Details</h2>
			</div>
			<div class="card-body">
				<div>
					<h4 class="card-title">Request</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						<tr>
							<td class="strong">Request Method</td>
							<td>{{ request.method }}</td>
						</tr>
						<tr>
							<td class="strong">Request URI</td>
							<td>{{ request.uri | escape }}</td>
						</tr>
						<tr>
							<td class="strong">Server Time</td>
							<td>{{ "now" | date: "%Y-%m-%dT%H:%M:%S.%L%z" }}</td>
						</tr>
					</table>
				</div>

				<div class="pt-4">
					<h4 class="card-title">Headers</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% assign headers = request.headers | dict2items | sort: "key" %}
						{% for header in headers %}
						<tr>
							<td class="strong">{{ header.key }}</td>
							<td class="break-all">{{ header.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="pt-4">
					<h4 class="card-title">Cookies</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% assign cookies = request.cookies | dict2items | sort: "key" %}
						{% for cookie in cookies %}
						<tr>
							<td class="strong">{{ cookie.key }}</td>
							<td class="break-all">{{ cookie.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="pt-4">
					<h4 class="card-title">Locals</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% assign locals = locals | dict2items | sort: "key" %}
						{% for local in locals %}
						<tr>
							<td class="strong">{{ local.key }}</td>
							<td class="break-all">{{ local.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="pt-4">
					<h4 class="card-title">Template Bindings</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% assign vars = vars | dict2items | sort: "key" %}
						{% for var in vars %}
						<tr>
							<td class="strong">{{ var.key }}</td>
							<td class="break-all">{{ var.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
