---
# TODO: add in header:
# <link rel="alternate" type="text/turtle" href="xxx" title="Structured Descriptor Document (Turtle format)"/>

---

<div class="page-header d-print-none mb-3">
	<div class="d-flex justify-content-between align-items-center">
		<div>
			<h2 class="page-title">
				ZZZZZZZ
			</h2>
		</div>
		<div class="btn-group" role="button">
			<button id="exportResults" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if page.results.count == 0 %} disabled{% endif %}>
				{% include ui/icon.html icon="file-download" use-svg=true %}
				Download As
			</button>
			<div class="dropdown-menu dropdown-menu-end">
                <div class="dropdown-header">RDF:</div>
				<a class="dropdown-item" href="{{ req.url  }}">
					Turtle
				</a>
				<a class="dropdown-item" href="{{ req.url  }}">
					N-Triples
				</a>
				<a class="dropdown-item" href="{{ req.url  }}">
					XML
				</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">Other:</div>
				<a class="dropdown-item" href="{{ req.url  }}">
					CSV
				</a>
				<a class="dropdown-item" href="{{ req.url  }}">
					TSV
				</a>
			</div>
		</div>
	</div>
</div>


<div class="card">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
				<th scope="col" class="w-25">Property</th>
				<th scope="col" class="w-75">Value</th>
				</tr>
			</thead>
			<tbody>
				{%- for field in page.resource %}
				<tr>
					<td>{{ field.name | escape }}</td>
					<td>
						{% unless (field.value | is_nil) %}
						{%- if field.type == "list" %}
						<ul>
						{%- for item in field.value %}
							<li>{% if item.link %}<a href="{{ item.link }}">{% endif %}{{ item.value | escape }}{% if item.link %}</a>{% endif %}{% if item.type %} <span class="text-muted">({{ item.type }})</span>{% endif %}</li>
						{%- endfor %}
						</ul>
						{%- else %}
						<div>{% if field.link %}<a href="{{ field.link }}">{% endif %}{{ field.value | escape }}{% if field.link %}</a>{% endif %}{% if field.type %} <span class="text-muted">({{ field.type }})</span>{% endif %}</div>
						{%- endif %}
						{% endunless %}
					</td>
				</tr>
				{%- endfor %}
			</tbody>
		</table>
	</div>
</div>
