---
layout: layouts/default
---
{%- assign resultsPerPage = req.queryParams.resultsPerPage -%}
{%- assign results = page.results.items -%}
{%- assign numResults = page.results.count -%}
{%- assign numPagedResults = page.results.items | size -%}
{%- assign displayMode = req.queryParams.displayMode -%}
{% for e in abc %}
	{{ e }}
{% endfor %}
<div class="card">
	<div class="card-body">
		{% include ui/form/searchbar.html placeholder='Search Product…' %}

		<div class="accordion mt-2" id="accordion">
			<div class="accordion-item border-0">
				<h4 class="accordion-header" id="accordion-heading">
				<button class="accordion-button collapsed p-0 pt-2 pe-1 w-auto" type="button" data-bs-toggle="collapse" data-bs-target="#syntax" aria-expanded="false">
					<span class="me-1">Query Syntax</span>
				</button>
				</h4>
				<div id="syntax" class="accordion-collapse collapse">
				<!-- <div id="syntax" class="accordion-collapse collapse show"> -->
					<div class="accordion-body pt-0">
						<div class="row gy-4 mt-0" data-masonry='{"percentPosition": true }' id="accordion-masonry">
							<div class="col-12 col-md-6 col-lg-4">
								<h5>General Expressions</h5>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td>
												<code class="add-to-search">word1 word2</span></code></br>
												<code class="add-to-search"><span class="text-primary">`</span>word1 word2<span class="text-primary">`</span></code>
											</td>
											<td>Full Text Search</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">"</span>some text<span class="text-primary">"</span></code></br>
												<code class="add-to-search"><span class="text-primary">'</span>some text<span class="text-primary">'</span></code>
											</td>
											<td>Exact Text Search</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search">some <span class="text-primary">*</span> text</code>
											</td>
											<td>Wildcard (Any Text or Phrase)</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search">expr1 <span class="text-primary">OR</span> expr2</code></br>
												<code class="add-to-search">expr1 <span class="text-primary">|</span> expr2</code>
											</td>
											<td>Boolean OR</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search">expr1 <span class="text-primary">AND</span> expr2</code></br>
												<code class="add-to-search">expr1 <span class="text-primary">&</span> expr2</code>
											</td>
											<td>Boolean AND</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">NOT</span> expr</code></br>
												<code class="add-to-search"><span class="text-primary">-</span>expr</code>
											</td>
											<td>Boolean NOT</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">(</span>expr1 expr2<span class="text-primary">)</span></code>
											</td>
											<td>Grouping of Expressions</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">operator:value</span></code>
											</td>
											<td>Operator</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-12 col-md-6 col-lg-4">
								<h5>General Operators</h5>
								<p>Operators allow searching for specific product properties. The allowed operations on each Operator depend on the property type. <code>value</code> can be text, number(e.g. <code>3.141</code>), date/time (e.g. <code>2020-01-01 10:30:45</code>), or time duration (format: <code>1y2M3w4d5h6m7s</code>, e.g. <code>1d12h</code>).</p>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">operator:</span>value</code></br>
												<code class="add-to-search">operator:<span class="text-primary">`</span>word1 word2<span class="text-primary">`</span></code>
											</td>
											<td>Equal Text</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">operator:==</span>value</code></td>
											<td>Equal</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">operator:!=</span>value</code></td>
											<td>Unequal</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">operator:&lt;</span>value</code></td>
											<td>Less</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">operator:&lt;=</span>value</code></td>
											<td>Less or Equal</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">operator:&gt;=</span>value</code></td>
											<td>Greater</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">operator:&gt;=</span>value</code></td>
											<td>Greater or Equal</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">operator:</span>value<span class="text-primary">..</span>value</code></td>
											<td>Range (inclusive, e.g. <code>2..*</code>, <code>2022-01-01..2022-04-01</code> )</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-12 col-md-6 col-lg-4">
								<h5>Basic</h5>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">name:</span>beehive</code></td>
											<td>Product Name</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">description:</span>beehive</code></td>
											<td>Product Description</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">language:</span>en</code></br>
												<code class="add-to-search"><span class="text-primary">documentationLanguage:</span>en</code>
											</td>
											<td>Language used for documentation</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">version:</span>1.0.0</code></td>
											<td>Version of latest release </td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">website:</span></code></td>
											<td>Product Website</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">starCount:</span>>0</code></td>
											<td>Number of stars</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">forkCount:</span>>0</code></td>
											<td>Number of forks</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">releaseCount:</span>>5</code></td>
											<td>Number of releases</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">createdAt:</span>>1y</code></td>
											<td>Date/Time when the latest release was created</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">lastUpdatedAt:</span>>1y</code></td>
											<td>Date/Time when it was last updated</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">discoveredAt:</span>>1y</code></td>
											<td>Date/Time when it was first found</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">lastIndexedAt:</span>>1y</code></td>
											<td>Date/Time when it was last indexed</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:active</span></code></td>
											<td>Is actively developed</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:inactive</span></code></td>
											<td>No updates for over 2 years</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:archived</span></code></td>
											<td>Repository is marked as archived and thus is no longer developed</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:deprecated</span></code></td>
											<td>Is marked as deprecated</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:missing</span></code></td>
											<td>Source is missing</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-12 col-md-6 col-lg-4">
								<h5>License</h5>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:license</span></code></td>
											<td>Indicates whether Product is licensed</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:hasAdditionalLicenses</span></code></td>
											<td>Indicates whether Product has other licenses</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">license:</span>CC-BY-SA-4.0</code></br>
												<code class="add-to-search"><span class="text-primary">licenseId:</span>CC-BY-SA-4.0</code>
											</td>
											<td>License SPDX Identifier</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">licenseName:</span>value</code></td>
											<td>License Full Name</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licenseSpdx</span></code></td>
											<td>License is well-known and listed on SPDX.org</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licenseDeprecated</span></code></td>
											<td>License is marked as deprecated</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licenseOsiApproved</span></code></td>
											<td>License is approved by OSI</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licenseFsfLibre</span></code></td>
											<td>License is FSF approved</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licenseBlocked</span></code></td>
											<td>License is not approved by LOSH</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licenseStrong</span></code></td>
											<td>License is considered strong</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licenseWeak</span></code></td>
											<td>License is considered weak</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licensePermissive</span></code></td>
											<td>License is considered permissive</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-12 col-md-6 col-lg-4">
								<h5>Licensor</h5>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">licensor:</span>John</code></br>
												<code class="add-to-search"><span class="text-primary">licensorFullName:</span>John</code>
											</td>
											<td>Licensor Full Name</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">licensorName:</span>jhondoe42</code></td>
											<td>Licensor Username</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licensorUser</span></code></td>
											<td>Licensor is a person</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">is:licensorGroup</span></code></td>
											<td>Licensor is a group (organization)</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-12 col-md-6 col-lg-4">
								<h5>Files</h5>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:software</span></code></td>
											<td>Indicates whether it contains software</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:image</span></code></td>
											<td>Indicates whether it has an image</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:readme</span></code></td>
											<td>Indicates whether it has a readme file</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:contributionGuide</span></code></td>
											<td>Indicates whether it has a contribution guide</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:bom</span></code></td>
											<td>Indicates whether it has bill of materials</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:manufacturingInstructions</span></code></td>
											<td>Indicates whether it has manufacturing instructions</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:userManual</span></code></td>
											<td>Indicates whether it has a user manual</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:source</span></code></td>
											<td>Indicates whether it has a source file</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:export</span></code></td>
											<td>Indicates whether it has export files</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:auxiliary</span></code></td>
											<td>Indicates whether it has auxiliary files</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-12 col-md-6 col-lg-4">
								<h5>Categorization</h5>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:category</span></code></td>
											<td>Indicates whether it has a category assigned</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">category:</span>Robotics</code></br>
												<code class="add-to-search"><span class="text-primary">categoryfullname:</span>Robotics</code>
											</td>
											<td>Full category name (e.g `Computer/PSU`)</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">categoryname:</span>Robotics</code></td>
											<td>Category name</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:tags</span></code></td>
											<td>Indicates whether it has tags assigned</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">tag:</span>3dprinting</code></td>
											<td>Tag name</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">tagCount:</span>>0</code></td>
											<td>Number of tags</td>
										</tr>

									</tbody>
								</table>
							</div>


							<div class="col-12 col-md-6 col-lg-4">
								<h5>Repository</h5>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">host:</span>Wikifactory</code></br>
												<code class="add-to-search"><span class="text-primary">repository:</span>Wikifactory</code></br>
												<code class="add-to-search"><span class="text-primary">repositoryHost:</span>Wikifactory</code>
											</td>
											<td>Host where the product is developed</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">repositoryOwner:</span></code></td>
											<td>Full name of the repository owner</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">repositoryName:</span></code></td>
											<td>Name of repository</td>
										</tr>
										<tr>
											<td>
												<code class="add-to-search"><span class="text-primary">datasource:</span>GitLab</code></br>
												<code class="add-to-search"><span class="text-primary">datasourceHost:</span>GitLab</code>
											</td>
											<td>Host where the product was found</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">datasourceowner:</span>aisberg</code></td>
											<td>Full name of the data-source owner</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">datasourcename:</span>beehive</code></td>
											<td>Name of the data-source repository</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-12 col-md-6 col-lg-4">
								<h5>Standard, Publication, Maturity, etc.</h5>
								<table class="syntax-cheat-sheet">
									<tbody>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:attestation</span></code></td>
											<td>Indicates whether it was attested</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:publication</span></code></td>
											<td>Indicates whether it has a publication</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:issuetracker</span></code></td>
											<td>Indicates whether it has a dedicated issue tracker</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:complieswith</span></code></td>
											<td>Indicates whether it has a standard associated</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">compliesWith</span>:"DIN SPEC 3105"</code></td>
											<td>Complies with a standard (DIN, ISO, etc.)</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:cpcPatentClass</span></code></td>
											<td>Indicates whether it has a CPC patent class associated</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">cpcPatentClass:</span>A01B</code></td>
											<td><a href="https://www.cooperativepatentclassification.org/about" class="text-standard">Cooperative Patent Classification (CPC)</a></td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">has:tsdc</span></code></td>
											<td>Indicates whether it has a tsdc associated</td>
										</tr>
										<tr>
											<td><code class="add-to-search"><span class="text-primary">tsdc:</span>MEC</code></td>
											<td><a href="https://gitlab.com/OSEGermany/oh-tsdc#technology-specific-documentation-criteria-for-open-source-hardware" class="text-standard">Technology-specific Documentation Criteria (TSDC)</a></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% include ui/search-results.html %}

{%- capture_global scripts %}
<script src="/static/js/masonry.pkgd.min.js"></script>
<script>
	// @formatter:off
	// add event listener to accordion heading to trigger masonry layout
	document.getElementById('accordion-heading').addEventListener('click', function (e) {
		Masonry.data('#accordion-masonry').layout();
	})
	// @formatter:on
</script>
{%- endcapture_global %}
