<!-- CSS files -->
{% assign libs = page.libs | default: layout.libs %}

{% if libs %}
	{% for lib in site.data.libs.css %}
		{% if libs contains lib[0] %}
			{% for file in lib[1] %}
				<link href="{% if file contains 'http://' or file contains 'https://' %}{{ file }}{% else %}/dist/libs/{{ file }}{% endif %}" rel="stylesheet"/>
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endif %}

<link href="/static/css/tabler.css" rel="stylesheet"/>

{% for plugin in site.tabler-css-plugins %}
	<link href="/static/css/{{ plugin }}.css" rel="stylesheet"/>
{% endfor %}

<link href="/static/css/app.css" rel="stylesheet"/>
