@import "tabler/config";
// @import "tabler/layout/navbar";

// redeclare variables for dark mode
@media not print {
  .theme-dark {
    --app-body-color: #{$dark-mode-text};
    --app-body-color-rgb: #{to-rgb($dark-mode-text)};

    --app-body-bg: #{$dark-mode-darken};
    --app-body-bg-rgb: #{to-rgb($dark-mode-darken)};

    --app-card-bg: #{$dark};
    --app-card-bg-rgb: #{to-rgb($dark)};

    --app-border-color: #{$dark-mode-border-color};
    --app-border-color-light: #{$dark-mode-border-color-light};

    --app-btn-color: #{$dark};
  }
}

@import "fonts/roboto";

@import "ui/buttons";
@import "ui/details";
@import "ui/fixes";
@import "ui/forms";
@import "ui/hero";
@import "ui/icons";
@import "ui/search";
