<div class="row row-deck row-cards">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h2 class="card-title">Details</h2>
			</div>
			<div class="card-body">
				<div>
					<h4 class="card-title">Request</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						<tr>
							<td class="strong">Request Method</td>
							<td>{{ request.method }}</td>
						</tr>
						<tr>
							<td class="strong">Request URI</td>
							<td>{{ request.uri | escape }}</td>
						</tr>
						<tr>
							<td class="strong">Server Time</td>
							<td>{{ "now" | date: "%Y-%m-%dT%H:%M:%S.%L%z" }}</td>
						</tr>
					</table>
				</div>

				<div class="pt-4">
					<h4 class="card-title">Headers</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% assign headers = request.headers | dict2items | sort: "key" %}
						{% for header in headers %}
						<tr>
							<td class="strong">{{ header.key }}</td>
							<td class="break-all">{{ header.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="pt-4">
					<h4 class="card-title">Cookies</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% assign cookies = request.cookies | dict2items | sort: "key" %}
						{% for cookie in cookies %}
						<tr>
							<td class="strong">{{ cookie.key }}</td>
							<td class="break-all">{{ cookie.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="pt-4">
					<h4 class="card-title">Locals</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% assign locals = locals | dict2items | sort: "key" %}
						{% for local in locals %}
						<tr>
							<td class="strong">{{ local.key }}</td>
							<td class="break-all">{{ local.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="pt-4">
					<h4 class="card-title">Template Bindings</h4>
					<table class="table table-transparent table-responsive">
						<colgroup>
							<col span="1" style="width: 20%;">
							<col span="1" style="width: 80%;">
						</colgroup>
						{% assign vars = vars | dict2items | sort: "key" %}
						{% for var in vars %}
						<tr>
							<td class="strong">{{ var.key }}</td>
							<td class="break-all">{{ var.value | escape }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
