.btn-unstyled {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;

  .icon {
    width: var(--#{$prefix}btn-icon-size);
    height: var(--#{$prefix}btn-icon-size);
    min-width: var(--#{$prefix}btn-icon-size);
    color: inherit;
  }
}

.btn-circle {
  border-radius: 50%;
  aspect-ratio: 1;
  padding: calc($input-btn-padding-y*0.8) calc($input-btn-padding-x*0.8);

  &[class*="btn-icon"] {
    padding: 0.375rem 15px;
  }
}
