.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}

.text-standard {
  color: $dark-mode-darken !important;
}

.theme-dark {
  .text-standard {
    color: white !important;
  }
}

.bg-standard {
  background-color: white !important;
}

.theme-dark {
  .bg-standard {
    background-color: $dark-mode-darken !important;
  }
}
