.pagination-cnt {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  margin: 0 0.5rem;
  user-select: none;

  > * {
    margin: 0.125rem 0.25rem;
    width: auto;
  }

  .results-per-page {
    display: inline-flex;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    align-items: center;
  }

  .results-per-page-label {
    width: auto;
    padding: 0;
    padding-right: 0.5rem;
  }

  .go-to-page {
    display: inline-flex;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .go-to-page-input {
    width: 3.1rem;
  }
}
